[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.5.2"
pytest = "==5.4.2"

[packages]
poker = "==0.30.0"
docker = "==4.2.0"
flask = "==1.1.2"
requests= "==2.23.0"

[requires]
python_version = "3.7"
